
// add 100% height to body when on the home page for the full height slider.
body#homepage { height: 100%; }

.flex-container a:active, .flex-container a:focus, .flexslider a:active, .flexslider a:focus {
	outline: 0
}
.flex-control-nav, .flex-direction-nav, .slides {
	margin: 0;
	padding: 0;
	list-style: none
}
@font-face{font-family:flexslider-icon;src:url(../../assets/flexslider/fonts/flexslider-icon.eot);src:url(../../assets/flexslider/fonts/flexslider-icon.eot?#iefix) format('embedded-opentype'), url(../../assets/flexslider/fonts/flexslider-icon.woff) format('woff'), url(../../assets/flexslider/fonts/flexslider-icon.ttf) format('truetype'), url(../../assets/flexslider/fonts/flexslider-icon.svg#flexslider-icon) format('svg');
font-weight:400;
font-style:normal
}
.flexslider {
	padding: 0
}
.flexslider .slides>li {
	display: none;
	-webkit-backface-visibility: hidden
}
.flexslider .slides img {
	width: 100%;
	display: block
}
.flex-pauseplay span {
	text-transform: capitalize
}
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}
html[xmlns] .slides {
	display: block
}
* html .slides {
	height: 1%
}
.no-js .slides>li:first-child {
	display: block
}
.flexslider {
	margin: 0 0 60px;
	background: @white;
	border: 4px solid @white;
	position: relative;
	.border-radius(4px);
	.box-shadow(0 1px 4px rgba(0, 0, 0, .2));
	zoom: 1
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease
}
.loading .flex-viewport {
	max-height: 300px
}
.flexslider .slides {
	zoom: 1
}
.carousel li {
	margin-right: 10px
}
.flex-direction-nav {
	*height: 0
}
.flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 40px;
	height: 40px;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0, 0, 0, .8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .3);
	.transition(all .3s ease);
}
.flex-direction-nav .flex-prev {
	left: -50px
}
.flex-direction-nav .flex-next {
	right: -50px;
	text-align: right
}
.flexslider:hover .flex-prev {
	opacity: .7;
	left: 10px
}
.flexslider:hover .flex-next {
	opacity: .7;
	right: 10px
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1
}
.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default
}
.flex-direction-nav a:before {
	font-family: flexslider-icon;
	font-size: 40px;
	display: inline-block;
	content: '\f001'
}
.flex-direction-nav a.flex-next:before {
	content: '\f002'
}
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: .8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000
}
.flex-pauseplay a:before {
	font-family: flexslider-icon;
	font-size: 20px;
	display: inline-block;
	content: '\f004'
}
.flex-pauseplay a:hover {
	opacity: 1
}
.flex-pauseplay a.flex-play:before {
	content: '\f003'
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline
}
.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0, 0, 0, .5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, .3)
}
.flex-control-paging li a:hover {
	background: #333;
	background: rgba(0, 0, 0, .7)
}
.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0, 0, 0, .9);
	cursor: default
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer
}
.flex-control-thumbs img:hover {
	opacity: 1
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default
}
@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev {
		opacity: 1;
		left: 10px
	}
	.flex-direction-nav .flex-next {
		opacity: 1;
		right: 10px
	}
}


/* ======================= */
/* ====== PARALLAX ======= */

.parallaxSection{
	overflow: hidden;
	.cover();
	background-attachment: fixed;
	background-color: @gray-base;
	min-height: 560px;

	&.height100{
		position: relative;
		height: 100%;
		min-height: 0;

		.flexslider{
			height: 100%;

			.flex-viewport,
			.slides,
			.slides li,
			.slides li .container,
			.slides li .container .inner { height: 100%; }

			.slides li .container { display: table; }

			.slides li .container .inner{
				display: table-cell;
				vertical-align: middle;
				padding: 0;

				.text-center { margin-top: 0; }
			}

		}
	}
}

.bigArrow {
	display: block;
	text-align: center;
	width: 70px;
	height: 70px;
	border: 2px solid #a0989d;
	border: 2px solid rgba(255, 255, 255, .4);
	.border-radius(50%);
	position: absolute;
	bottom: 29px;
	left: 50%;
	margin-left: -35px;
	z-index: 100;
	color: @white;
	font-size: 40px;

	&:focus,
	&:hover{
		border-color: @white;
	}

	i {
		position: relative;
		margin-top: 15px;
	}
}


// reset styles
.flexslider {
	margin: 0;
	background: transparent;
	border: 0;
	.border-radius(none);
	.box-shadow(none);

	.flex-direction-nav a{
		opacity: 1;
		text-shadow: none;
		-webkit-transition: none;
		-moz-transition: none;
	}
	.flex-direction-nav .flex-prev{ left: 20px; }
	.flex-direction-nav .flex-next{ right: 20px; text-align: center; }
	&:hover .flex-prev{ opacity: 1; left: 20px }
	&:hover .flex-next{ opacity: 1; right: 20px }
}

.flexslider{
	overflow: hidden;
	.slides > li{
		background-position: center top;
		background-repeat: no-repeat;
		.cover();
		-webkit-backface-visibility: visible;

		// fix content transition
		.row > div{
			position: static;
		}

		.inner .animated{
			.opacity(0);
		}
		.inner .activate{
			.opacity(1);
		}

	}

	.inner {
		padding-top: 100px;
		color: @white;

		h1, h2, h3, h4, h5, h6{
			font-weight: 400;
			color: @white;
			line-height: normal;
		}
		h1 {
			color: rgba(255, 255, 255, .75);
			font-family: @font-family-sans-serif;
			line-height: 1.3em;
		}
		h2 {
			font-weight: 600;
			font-family: @font-family-serif;
	    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
		}
		.btn-default{
			color: @white;

			&:hover,
			&:focus,
			&:active,
			&.active{
				color: @gray-base;
			}
		}
		.btn + .btn{
			margin-left: 15px;
		}
		.btn-default{
			border-color: rgba(255, 255, 255, .75);

			&:hover{
				border-color: @white;
			}
		}
		.text-center { margin-top: 70px; }
	}
	.flex-direction-nav a{
		text-align: center;
		.transition(all .2s ease);
		color: @white;

		&:hover{
			color: @white;
		}
	}

	.flex-direction-nav a:before{
		font-size: 40px;
		line-height: 37px;
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\f104";
	}
	.flex-direction-nav a.flex-next:before{
		content: "\f105";
	}
	.flex-control-nav{ width: 1170px; left: 50%; margin-left: -585px; position: absolute; bottom: 40px; text-align: left; z-index: 100; }
	.flex-control-nav li{ margin: 0 3px; display: inline-block; zoom: 1; *display: inline; }
	.flex-control-paging li a{
		width: 8px;
		height: 8px;
		display: block;
		background: transparent;
		.border-radius(50%);
		.box-shadow(none);
		border: 1px solid @white;
	}
	.flex-control-paging li a:hover{ background: @white; }
	.flex-control-paging li a.flex-active{ background: @white; }

	.flex-direction-nav .flex-disabled{
		display: none;
	}
}

.std-slider.flexslider{
	.slides > li{
		//background-color:@gray-base;
	}
}

.flexslider.center-controls .flex-control-nav,
.container .flexslider .flex-control-nav{
	width: 100%;
	left: 0;
	margin-left: 0;
	position: absolute;
	bottom: 10px;
	text-align: center;
}
.blog-item .flexslider{

	.flex-direction-nav .flex-prev{ left: 5px; }
	.flex-direction-nav .flex-next{ right: 5px; }
	&:hover .flex-prev{ left: 5px }
	&:hover .flex-next{ right: 5px }

}

.flexslider.carousel-slider{
	margin-bottom: 95px;

	.slides > li{
		margin-right: 30px;
	}

	.flex-direction-nav a{
		color: #999;
		margin-top: -60px;

		&:hover{
			color: @white;
		}
	}
	.flex-direction-nav .flex-prev{
		left: -55px;
	}
	.flex-direction-nav .flex-next{
		right: -55px;
	}
	.flex-control-nav{
		width: 100%;
		left: 0;
		margin-left: 0;
		position: absolute;
		bottom: -60px;
		text-align: center;
	}
	.flex-control-paging li a{
		border: 1px solid #999;
	}
	.flex-control-paging li a:hover{ background: #999; }
	.flex-control-paging li a.flex-active{ background: #999; }
}

.blog-thumbnail .flexslider .slides img{
	width: 100%;
}



/* media queries, adjustments */

@screen-lg-wider: (@screen-lg+1);

@media (min-width: @screen-lg-wider){
	.flexslider.carousel-slider{
		margin-top: 80px;

		.flex-direction-nav a{
			color: #999;
			top: 0;
		}
		.flex-direction-nav .flex-prev{
			margin-top: -70px;
			left: 50%;
			margin-left: -50px;
		}
		.flex-direction-nav .flex-next{
			margin-top: -70px;
			right: auto;
			left: 50%;
			margin-right: -50px;
		}
	}

	.flexslider .inner {
		.text-center * { margin-bottom: 0; }
		h1 {
			font-size: 26px;
			font-weight: 500;
			margin-bottom: 21px !important;
		}
		h2 {
			font-size: 40px;
			margin-bottom: 35px !important;
		}
	}

}

@media (max-width: @screen-lg){
	.flexslider.std-slider .flex-control-paging{
		width: 100%;
		left: 0;
		margin: 0;
		padding-left: 40px;
	}
	.flexslider.center-controls .flex-control-nav,
	.container .flexslider .flex-control-nav{
		padding-left: 0;
	}

	.flexslider .inner {
		.text-center * { margin-bottom: 0; }
		h1 {
			font-size: 24px;
			font-weight: 500;
			margin-bottom: 21px !important;
		}
		h2 {
			font-size: 36px;
			margin-bottom: 35px !important;
		}
	}

}

@media (max-width: @screen-xs-max){

	.flexslider.std-slider  {

		.inner{
			padding-left: 20px;
			padding-left: 20px;

			.text-center * { margin-bottom: 0; }
			h1 {
				font-size: 18px;
				font-weight: 400;
				line-height: 22px;
			}
			h2 {
				font-size: 28px;
				line-height: 28px;
			}
		}

		.flex-direction-nav .flex-prev,
		&:hover .flex-direction-nav .flex-prev { left: 0px;	}

		.flex-direction-nav .flex-next,
		&:hover .flex-direction-nav .flex-next { right: 0px; }

		.flex-control-nav {
			bottom: 20px;
			text-align: center;
		}

		.flex-control-paging {
			padding: 0;
			width: auto;
			left: 40px;
			right: 40px;
		}

	}

	.videoSection.parallaxEffect {
		height:auto !important;
	}

	.videoSection.parallaxEffect .innerVideo {
		position: static !important;
	}

  .content-area,
	.parallaxSection {
		background-attachment: scroll;
	}

	.parallaxSection.height100{
		min-height: 500px !important;
	}
	.flex-control-paging { display: none; }

}

// ipad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {

	.videoSection.parallaxEffect {
		height:auto !important;
	}

	.videoSection.parallaxEffect .innerVideo {
		position: static !important;
	}
	.content-area,
	.parallaxSection {
		background-attachment: scroll;
	}

	.parallaxSection.height100{
		min-height: 400px !important;
	}
	.flexslider.std-slider  {

		.inner{
			padding-left: 20px;
			padding-left: 20px;

			h1 {
				font-size: 20px;
				font-weight: 500;
				line-height: 30px;
			}
			h2 {
				font-size: 34px;
				line-height: 34px;
			}
		}
	}


}
