//
// Mixins
// --------------------------------------------------

.animation(@properties) {
  -webkit-animation: @properties;
     -moz-animation: @properties;
       -o-animation: @properties;
          animation: @properties;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.background-clip(@clip: border-box) {
  -webkit-background-clip: @clip;
     -moz-background-clip: @clip;
          background-clip: @clip;
}

.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.mask(@arguments) {
  -webkit-mask: @arguments;
          mask: @arguments;
}

.cover () {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.selection(@color) {
  &::selection {
    background: @color;
  }
  &::-moz-selection {
    background: @color;
  }
}

// start: background-layers - this is a cool one from https://gist.github.com/erikflowers/6393836
.background-layers(@top, @bottom) {
  background: url(@top), url(@bottom);
  background-position: top center, top center;
  background-attachment: fixed, fixed;
  background-repeat: repeat, repeat;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-size: auto, cover;
}

/////// Use it like this. don't forget the single quotes ///////
// .background-layers('the-top-image.png', 'the-bottom-image.jpg');
// end: background-layers

// Padding/Margins
// Should be used to modify the default spacing between objects (not between nodes of * the same object)
// p,m = padding,margin
// a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
// x,s,m,l,e,n = extra-small(@x),small(@s),medium(@m),large(@l),x-large(@e),none(0px)
.ptn, .pvn, .pan { padding-top: 0; }
.ptx, .pvx, .pax { padding-top: @x; }
.pts, .pvs, .pas { padding-top: @s; }
.ptm, .pvm, .pam { padding-top: @m; }
.pte, .pve, .pae { padding-top: @xl; }
.ptl, .pvl, .pal { padding-top: @l; }
.prn, .phn, .pan { padding-right: 0; }
.prx, .phx, .pax { padding-right: @x; }
.prs, .phs, .pas { padding-right: @s; }
.prm, .phm, .pam { padding-right: @m; }
.prl, .phl, .pal { padding-right: @l; }
.pre, .phe, .pae { padding-right: @xl; }
.pbn, .pvn, .pan { padding-bottom: 0; }
.pbx, .pvx, .pax { padding-bottom: @x; }
.pbs, .pvs, .pas { padding-bottom: @s; }
.pbm, .pvm, .pam { padding-bottom: @m; }
.pbl, .pvl, .pal { padding-bottom: @l; }
.pbe, .pve, .pae { padding-bottom: @xl; }
.pln, .phn, .pan { padding-left: 0; }
.plx, .phx, .pax { padding-left: @x; }
.pls, .phs, .pas { padding-left: @s; }
.plm, .phm, .pam { padding-left: @m; }
.pll, .phl, .pal { padding-left: @l; }
.ple, .phe, .pae { padding-left: @xl; }
.mtn, .mvn, .man { margin-top: 0; }
.mtx, .mvx, .max { margin-top: @x; }
.mts, .mvs, .mas { margin-top: @s; }
.mtm, .mvm, .mam { margin-top: @m; }
.mtl, .mvl, .mal { margin-top: @l; }
.mte, .mve, .mae { margin-top: @xl; }
.mrn, .mhn, .man { margin-right: 0; }
.mrx, .mhx, .max { margin-right: @x; }
.mrs, .mhs, .mas { margin-right: @s; }
.mrm, .mhm, .mam { margin-right: @m; }
.mrl, .mhl, .mal { margin-right: @l; }
.mre, .mhe, .mae { margin-right: @xl; }
.mbn, .mvn, .man { margin-bottom: 0; }
.mbx, .mvx, .max { margin-bottom: @x; }
.mbs, .mvs, .mas { margin-bottom: @s; }
.mbm, .mvm, .mam { margin-bottom: @m; }
.mbl, .mvl, .mal { margin-bottom: @l; }
.mbe, .mve, .mae { margin-bottom: @xl; }
.mln, .mhn, .man { margin-left: 0; }
.mlx, .mhx, .max { margin-left: @x; }
.mls, .mhs, .mas { margin-left: @s; }
.mlm, .mhm, .mam { margin-left: @m; }
.mll, .mhl, .mal { margin-left: @l; }
.mle, .mhe, .mae { margin-left: @xl; }


// font-sizing for REM (usage: .font-size(14) renders to font-size: 14px;)
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}

// borders
.border(@size: 1px, @style: solid, @color: @gray-lighter) {

  .bt(@size: 1px, @style: solid, @color: @gray-lighter) {
    border-top: @size @style @color;
  }

  .br(@size: 1px, @style: solid, @color: @gray-lighter) {
   border-right: @size @style @color;
  }

  .bb(@size: 1px, @style: solid, @color: @gray-lighter) {
    border-bottom: @size @style @color;
  }

  .bl(@size: 1px, @style: solid, @color: @gray-lighter) {
    border-left: @size @style @color;
  }

  .btb(@size: 1px, @style: solid, @color: @gray-lighter) {
    border-top: @size @style @color;
    border-bottom: @size @style @color;
  }

  .blr(@size: 1px, @style: solid, @color: @gray-lighter) {
    border-right: @size @style @color;
    border-left: @size @style @color;
  }

}

// border radiuses
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius:    @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius:  @bottomleft;
  -webkit-border-top-left-radius:     @topleft;

  -moz-border-radius-topright:        @topright;
  -moz-border-radius-bottomright:     @bottomright;
  -moz-border-radius-bottomleft:      @bottomleft;
  -moz-border-radius-topleft:         @topleft;

  border-top-right-radius:            @topright;
  border-bottom-right-radius:         @bottomright;
  border-bottom-left-radius:          @bottomleft;
  border-top-left-radius:             @topleft;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}


// positioning
.placement(@position: relative, @display: block, @top: 0, @right: 0, @bottom, @left: 0) {
    position: @position;
    display: @display;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}

// containers
.container-effect(
    @ce-font-size: @font-size-base
    , @ce-text-color: @text-color
    , @ce-text-align: left
    , @ce-bg-color: @white
    , @ce-box-shadow: ~"0 1px 3px rgba(0,0,0,.2)"
    , @ce-icon-size: @font-size-base
    , @ce-icon-color: @text-color
  ) {

  .box-shadow(@ce-box-shadow); // drop shadow
  overflow: hidden;
  background-color: @ce-bg-color;
  color: @ce-text-color;
  text-align: @ce-text-align;
  font-size: @ce-font-size;

  i {
    font-size: @ce-icon-size;
    color: @ce-icon-color;
  }

}


/* ------------------------ */
/* LESS mixin for CSS arrow - https://github.com/HugoGiraudel/LESS-Mixin-for-CSS-arrows */
/* ------------------------ */

/* Usage
 * .arrow(size, color, direction, offset, border-size, border-color);
 */

/* Where
 * Size is the with of the arrow
 * Color is the color of the arrow (plain color required)
 * Direction is the orientation of the arrow (top, right, bottom, left)
 * Offset is the position of the arrow on its axis (px / em)
 * Border-size is the width of the border if there is one (optional; default "0")
 * Border-color is the color of the border if there is one (optional; default "inherit");
 */

/* Extra
 * Drop-shadows can be used on the element to create a shadow on the arrow as well

 */

.arrow(@size, @color, @direction, @offset, @border-size: 0, @border-color: inherit) {
  position: relative;
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
}

.arrow(@size, @color, @direction, @offset, @border-size: 0, @border-color: inherit) when (@direction = top) {
  @m-size: @size + (@border-size*2);

  &:after {
    bottom: 100%;
    left: @offset;
    margin-left: -@size;

    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-bottom: @size solid @color;
  }

  &:before {
    bottom: 100%;
    left: @offset;
    margin-left: -@m-size;

    border-left: @m-size solid transparent;
    border-right: @m-size solid transparent;
    border-bottom: @m-size solid;
    border-bottom-color: @border-color;
  }
}

.arrow(@size, @color, @direction, @offset, @border-size: 0, @border-color: inherit) when (@direction = bottom) {
  @m-size: @size + (@border-size*2);

  &:after {
    top: 100%;
    left: @offset;
    margin-left: -@size;

    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-top: @size solid @color;
  }

  &:before {
    top: 100%;
    left: @offset;
    margin-left: -@m-size;
    border-left: @m-size solid transparent;
    border-right: @m-size solid transparent;
    border-top: @m-size solid;
    border-top-color: @border-color;
  }
}

.arrow(@size, @color, @direction, @offset, @border-size: 0, @border-color: inherit) when (@direction = right) {
  @m-size: @size + (@border-size*2);

  &:after {
    left: 100%;
    top: @offset;
    margin-top: -@size;

    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-left: @size solid @color;
  }
  &:before {
    left: 100%;
    top: @offset;
    margin-top: -@m-size;

    border-top: @m-size solid transparent;
    border-bottom: @m-size solid transparent;
    border-left: @m-size solid;
    border-left-color: @border-color;
  }
}

.arrow(@size, @color, @direction, @offset, @border-size: 0, @border-color: inherit) when (@direction = left) {
  @m-size: @size + (@border-size*2);

  &:after {
    right: 100%;
    top: @offset;
    margin-top: -@size;

    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-right: @size solid @color;
  }
  &:before {
    right: 100%;
    top: @offset;
    margin-top: -@m-size;

    border-top: @m-size solid transparent;
    border-bottom: @m-size solid transparent;
    border-right: @m-size solid;
    border-right-color: @border-color;
  }
}

// retina.less
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)

@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

.at2x(@path, @w: auto, @h: auto) {
  background-image: url(@path);
  @at2x_path: ~`@{path}.replace(/\.\w+$/, function(match) { return "@2x" + match; })`;

  @media @highdpi {
    background-image: url("@{at2x_path}");
    background-size: @w @h;
  }
}

.textShadowBlack(@shadow: 0 1px 0px rgba(0,0,0,.2)) {
  text-shadow: @shadow;
}

.textShadowWhite(@shadow: 0 1px 0px rgba(255,255,255,.2)) {
  text-shadow: @shadow;
}



//  interpolation example

// .genProp(@property, @value, @pre: ect) {
//   -inj:~"@{pre}; @{property}: @{value}";
// }

// .rwd(@prop, @sm, @md, @lg) {
//   @media screen (min-width: 750px) {
//     .genProp(@prop, @sm);
//   }
//   @media screen (min-width: 970px) {
//     .genProp(@prop, @md);
//   }
//   @media screen (min-width: 1170px) {
//     .genProp(@prop, @lg);
//   }
// }

// h1 {
//   .rwd(font-size, 24px, 36px, 48px);
// }

