// print styles

@media print {

  body > header,
  body > footer,
  body > nav,
  nav.row,
    {
    display: none;
  }

  a[href]:after {
    content: none !important;
  }

  // start: main styles
  [role="main"] {
    margin-top: 0;


  }
  // end:  main styles


  // start: recipe styles
  [itemtype="http://schema.org/Recipe"] {
    header {
      margin-bottom: 7px !important;
      margin-top: 14px;
        h1 { font-size: 24px; }
        img.img-circle { width: 9%; }
        p { margin-bottom: 7px; }
    }
    .col-md-8 { width: 100%; }
    div.lead {
      margin-bottom: 14px;
      p {
        font-size: 16px;
        margin-bottom: 7px;
      }
    }
    span { font-size: 12px; }

    h2 {
      font-size: 16px;
      margin-bottom: 7px;
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
    }

    figure.ibox {
      width: 35%;
      .pull-right;
      img { margin-left: 14px; }
    }

    .col-md-4 { width: 100%; }

    p {
      font-size: 12px;
      margin-bottom: 7px;
    }

    a {
      text-decoration: none;
      border-bottom: none;
    }

    ul {
      li:before{ font-size: 12px; }
      li {
        font-size: 14px;
        margin-bottom: 0 !important;
      }
    }

    ol {
      font-size: 14px;
      margin-bottom: 21px !important;
      li { margin-bottom: 7px; }
      li:before {
        font-size: 14px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        color: #292929;
      }
    }

    div.alert { margin-bottom: 14px; }

    aside section { display: none; }

    aside.col-md-4 {
      width: 100%;
      table {
      // width: 30%;
      // .pull-left;
      // margin-right: 10px;
      tbody,
      thead { font-size: 12px; }
      }
    }

   table:nth-child(2),
   table.table-condensed {
    width: 45%;
    .pull-left;
    margin-top: 7px;
    margin-right: 15px;
  }

  table[itemprop="cookTime"]{
    display: inline;
    .clearfix;
    // border-top: 1px solid @gray-dark !important;
    // border-bottom: 1px solid @gray-dark;

    tr {
      border-top: none;
      border-bottom: none;
    }

    thead {
      width: 30%;
      .pull-left;
      border-top: 1px solid @gray-dark !important;
      border-bottom: 1px solid @gray-dark;
      tr {
        width: 100%;
        // border-top: 1px solid @gray-dark !important;
        // border-bottom: 1px solid @gray-dark;
        padding-right: 20px;
      }
      th:nth-child(1){ .pull-left; width: 110px; }
      th:nth-child(2){
        // .pull-right;
        margin-left: 80px;
        margin-top: -35px;
      }
    }
    tbody {
      border-top: 1px solid @gray-dark !important;
      border-bottom: 1px solid @gray-dark;
      padding-left: 35px;
      .pull-left;
      width: 68%;
    tr {
      // width: 50%;
    }
    tr:nth-child(1){
      .pull-left;
      td:nth-child(1){
        width: 90px;
      }
      td:nth-child(2){
        font-weight: bold;
        padding-right: 45px;
      }
    }

    tr:nth-child(2){
      .pull-left;
      td:nth-child(1){ width: 90px; }
      td:nth-child(2){
        font-weight: bold;
      }
     }
    }
  }

  }
  // end: recipe styles

  #toTop { display: none !important; }

}