// Desktops (≥1024px)
// Desktops with min of 1024px / max 1199px
// ---------------------------------------

// start: min 1024
@media (min-width: 1024px) {

  h2, .h2 { font-size: @font-size-h3; }
  .page-header + .container > h2 { font-size: 28px; }

  // start: primary navigtion
  .navbar {
    height: 84px;

    img {
      .transition(0);
      height: 42px;
      margin-top: 21px;
    }

    // start: affix
    // pin to top, and scroll with page
    &.affix {
      height: 63px !important;
      min-height: 63px;

      .navbar-nav > li > a {
        padding-top: 21px;
        padding-bottom: 21px;
      }

      img {
        height: 42px;
        margin-top: 7px;
        margin-bottom: 7px;
        vertical-align: initial;
      }

    }
    // end: affix
  }
  // end: primary navigtion

  // start: main content
  [role="main"] {

    &>.container,
    &>section > .container,
    &>section.content-area {
      padding-bottom: 42px;
      padding-top: 42px;
    }

    .page-header { margin: 0 0 42px 0; }

    h1 { margin-bottom: 35px; }

    .box,
    .box-icon,
    .sbox,
    .vbox {
      header h1 {
        font-size: @font-size-large;
        margin-bottom: 7px;
      }
    }


  }
  // end: main content

}
// end: min 1024


// start: 1024 - 1199
// @media (min-width: 1024px) and (max-width: 1199px) {


// }
// end: 1024 - 1199



