// Tablets (≥768px)
// Tablets with min of 768px / max 1023px
// --------------------------------------

@media (min-width: 768px) {

  // start: main content styles
  [role="main"] {




  }
  // end: main content styles

  #map-canvas { height: 462px; }

  // start: footer
  .footer-wrapper {
    .row>.col-sm-6+.col-sm-6 { .text-right; }
  }
  // end: footer
}

@media (max-width: 1023px) {

  h1, .h1 {
    font-size: 26px;
    margin-bottom: 28px;
  }

  h2, .h2 { font-size: 16px; }
  .page-header + .container > h2 { font-size: 26px; }

  // start: primary navigtion
  .navbar,
  .navbar.affix {
    height: 56px;
    min-height: 56px;

    .navbar-collapse.in { background-color: @white; }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus { color: @gray-base; }

    .navbar-nav > li > a {
      padding-top: 18px;
      padding-bottom: 18px;
      font-size: 14px;
    }

    img {
      width: 60%;
      margin-top: 7px;
    }

    .navbar-toggle {
      .transition(0);
      height: 100%;
      margin-top: 10px;
    }
  }
  // end: primary navigtion


  // start: main content
  [role="main"] {

  }
  // end: main content


}

// start: 768 - 1023
// @media (min-width: 768px) and (max-width: 1023px) {


// }
// end: 768 - 1023
