// Phones (<768px)
// Phones with max width of 767px
// ------------------------------

@media (min-width: 320px) and (max-width: 480px) {

}

// start: min 581 - max 767
@media (min-width: 481px) and (max-width: 767px) {

}
// end: min 581 - max 767

// start: max 767
@media (max-width: 767px) {

  // start: primary navigtion
  .navbar h1,
  .navbar.affix h1 { padding-left: 15px; }
  // end: primary navigtion


  // start: main content styles
  [role="main"] {


  }
  // end: main content styles

  // start: collections
  [role$="-collection"] {
    h1 { font-size: 22px; }
  }
  // end: collections

  // start: footer
  .footer-wrapper {
    .row>.col-sm-6+.col-sm-6 { .text-left; .pts; }
  }
  // end: footer
}
// end: max 767
