<cfoutput>
    <!--- MINIFIED JS - Includes Bootstrap, and other plugins, along with main.js, which includes all site-specific files
    =================== --->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLcqPvJJMieds3eB5AwcwYgZfT1djzj7c&sensor=false"></script>
    <script src="#$.siteConfig('themeAssetPath')#/js/main.min.js"></script>
    <script src="//s7.addthis.com/js/300/addthis_widget.js##pubid=ra-52d32e7d1b362839" type="text/javascript"></script>
	</body>
</html>
</cfoutput>