<!--- syndicated layout --->
<cfoutput>
<cfinclude template="../content-headers/dsp_header_default.cfm">

<cfif len($.dspObjects(1))>
	<div class="row">
		<section class="col-md-9">
</cfif>

<!--- <cfif $.getKidsIterator().hasNext()>
  #$.dspRenderSearch(
    type                     = ''
    , subType                = ''
    , parentId               = $.content().getContentId()
    , searchTerms            = $.event('keywords')
    , maxItems               = 0
    , nextN                  = 12
    , template               = 'syndicated'
    , looptype               = 'iterator'
    , content                = ''
    , collectionWrapper      = 'section'
    , collectionWrapperClass = ''
    , heading                = ''
    , templateWrapper        = 'article'
		, templateClass          = ''
    , imageOrientation       = ''
    , imageClass             = 'img-rounded'
	  , imageSize              = ''
    , fieldlist              = ''
    , isotope                = false
    , sortby                 = 'releaseDate'
    , sortDirection          = 'desc'
  )#
</cfif> --->
<div role="syndicated-collection">
  #$.dspBody( body='', title='', crumbList=false, showMetaImage=false)#
</div>

<cfif $.content().getSubType() eq 'Syndicated' AND len($.dspObjects(1))>
		</section>
		<aside class="col-md-3">
			#$.dspObjects(1)#
		</aside>
	</div>
</cfif>






	<!--- #$.dspObjects(2)# --->

<cfinclude template="../content-footers/dsp_footer_default.cfm">
</cfoutput>