//-----------------------------------------------------------------------------------
// IMPORTS
//-----------------------------------------------------------------------------------
@import url("../assets/bootstrap/less/bootstrap.less"); // obviously, include BS
@import url("../assets/bootstrapvalidator/dist/css/formValidation.min.css"); // include validator css
@import url("../assets/animate/animate.less"); // include animation less
@import url("../assets/fancybox/source/jquery.fancybox.css"); // include magnificpopup css
@import url("../assets/fancybox/source/helpers/jquery.fancybox-thumbs.css"); // include magnificpopup css
@import url("modules/variables.less"); // include any variables for this theme
@import url("modules/mixins.less"); // include useful styles and such


//-----------------------------------------------------------------------------------
// THEME STYLES
// Add all theme-specific styles below
//-----------------------------------------------------------------------------------

*,
*:after,
*::before {
	.box-sizing(border-box);
}

html {
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
  -ms-overflow-y: scroll;
  height: 100%;
	min-height: 100%; // The html and body elements cannot have any padding or margin.
	position: relative;
}

body {
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	background: url('@{imagePath}bgs/bg-body.jpg') repeat;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

// start: links
a {
	font-weight: 300;
	&:hover { text-decoration: none; }
	.transition(all 0.2s ease-out);
}
// end: links

// start: images/figures
// make imagesimages/figures in the main body responsive
img,
figure{
  .img-responsive(inline-block);
	.transition(all 0.2s ease-out);
}

// start: figure
figure {
  position: relative;
  margin: 0;

  &.top { margin: 0 0 28px 0; }
  &.left, &.pull-left {
    float: left;
    margin: 0 42px 28px 0;
  }
  &.right, &.pull-right {
    float: right;
    margin: 0 0 28px 42px;
  }

	// put border on font awesome icons
	i {
    padding: 14px 18px;
    display: inline-block;
    font-size: 24px;
    .border-radius(50%;);
    .box-shadow(0px 0px 2px @gray);
	}

}
// end: figure

// end: images/figures

// start: headings
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	overflow: hidden;
	margin-top: 0;
	padding: 0;
}

// start: h1
h1, .h1 {
	color: @beige;
	line-height: normal;

	p + &,
	ul + &{ margin: 28px 0 7px; }
	.bg-b .container > header  & ,
	.bg-pl .container > header & { color: @white; }

}
// end: h1

// start: h2
h2, .h2 {
	text-transform: uppercase;

	&.intro {
		font-family: @font-family-sans-serif;
		font-size: 16px;
		font-weight: 600;
		color: @gray;
		margin-bottom: 21px;
	}

	.page-header + .container > & { font-family: @font-family-sans-serif; }

}
// end: h2

// end: headings

// start: paragragh
p {
	.mbl;
}
// end: paragragh


blockquote { border: none; }
hr {
	margin-top: 42px;
	margin-bottom: 42px;
	border-color: lighten(@gray-light, 20%);
}

form { .mbl; }


/* ========================= */
/* === DESCRIPTION LIST === */

dl{
  margin-top: 0;
  margin-bottom: 35px;
}
dt,
dd{
  line-height: 22px;
}
dt{
  font-weight: 500;
  color: @beige;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  padding: 16px 0 7px 0;
  margin: 12px 0 0 0;
  border-top: 1px solid @gray-light;
}
dl dt:first-child{
  padding-top: 0;
  border-top: 0;
  margin-top: 0;
}
dd{  margin-left: 0; }

// end: def lists

// start: helpers
.absolute-center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.footer-text {
	font-size: @font-size-small;
	font-style: italic;
}

// start: bg colors
.bg-w { background-color: @white; }
.bg-g { background-color: @gray-dark; }
.bg-bl { background-color: @white; }

.bg-b { background-color: @gray-base; }

.bg-b-left {
	display: none;
	position: absolute;
	overflow: hidden;
	width: 28%;
	height: 100%;
	background-color: @gray-dark;
	+ .container { .text-left; }
}
.bg-pl {
	background-color: @gray-light;
	color: @white;
}

.bg-img {
	.placement(absolute,'',0,0,'',0);
	.cover() !important;
	.box-shadow(0 0 1px 1px rgba(0,0,0,.8)); // drop shadow
	background-attachment: fixed;
	height: 100%;
	opacity: .25;
}
// end: bg colors

// start: template - feature
.tpl-feature {
	position: relative;
	.row {
		.text-left;
		font-size: @font-size-large;
		color: @gray-dark;
		line-height: normal;
	}
	hr { border-color: @white; }
	img { .box-shadow(0 3px 3px 1px rgba(0,0,0,.2)); } // drop shadow

	ul {
		width: 100%;
		float: left;
		margin: 0px;
		padding: 0 30px;
		margin-bottom: 14px;

		li {
			font-size: @font-size-small;
			width: 50%;
			float: left;
			margin: 0px;
			padding: 0px;
			line-height: 150%;
		}
	}
}
// end: template - feature


// end: helpers


// start: bootstrap mods
.btn {

 	.container > & {
 		padding: 14px 18px;
 	}
	&.btn-default:hover {
		background-color: @white;
		color: @gray-dark;
	}
}

.form-control {
	border: 1px solid @gray-light;
	color: @gray;
}

ul.nav-list {

	&>li {
		.pbs;
		font-size: @font-size-large;
		text-transform: uppercase;
	}

	a {
		.pvx;
		color: @white;
		&:hover,
		&.active,
		&:focus {
			background-color: transparent;
			color: @secondary-link-hover-color;
		}
	}

	ul li {
		padding: 0;
		font-size: @font-size-base;
		text-transform: capitalize;

		ul { .mll;}

	}
}

.nav-pills > li > a {	border: 1px solid darken(@gray-lighter, 10%); }
.nav-pills > li:first-of-type,
.nav-pills > li + li {	margin: 0 7px 7px 0; }


//-----------------------------------------------------------------------------------
// HEADER
//-----------------------------------------------------------------------------------

// body>header {
// 	width: 100%;
// }

// start: primary navigtion
.navbar {
	.box-shadow(0 3px 3px -3px rgba(0,0,0,0.2)); // drop shadow
	border-bottom: 1px solid lighten(@link-color, 90%);
	text-transform: uppercase;
	h1 { .hide-text; .mbn; }
}
// end: primary navigtion



//-----------------------------------------------------------------------------------
// CONTENT
//-----------------------------------------------------------------------------------

[role="main"] {

	&>.container,
	&>section > .container,
	&>section.content-area {
		.textShadowWhite();
		position: relative;
		padding-bottom: 28px;
		padding-top: 28px;
		header + .lead {
			width: 85%;
			font-size: @font-size-large;
		}
	}

	nav.container { padding-top: 0; padding-bottom: 0; }

	// start: page header
	.page-header {
		margin: 0 0 @l 0;
		padding: 0;
		border-bottom: 1px solid @gray-light;
		background-color: @gray;

		h1 {
			.mbn !important;
			padding: 35px 0;
			color: @white;
			font-size: @font-size-h1;
		}
	}
	.breadcrumb {
		padding: 22px 0;
		margin: 0;
		background-color: transparent;
		.border-radius(0);
		a { color: @gray-lighter; }
		& > li + li:before { padding: 0 2px 0 7px; }
	}
	// end: page header

	.lead {
		margin: auto;
		font-size: @font-size-h2;
	}


	[role=gallery-collection] article {
		margin-bottom: 28px;
	}

	article[role="syndicated"] {
		margin-bottom: 28px;
		padding-bottom: 28px;
		.border .bb;

		&.last { border: none; }
		h1 { font-size: 24px; .mbs; }
		h1 + p, p, figure { font-size: 14px; .mbn; .mtx; }
		hr { .mvs; }
	}

}

//-----------------------------------------------------------------------------------
//  FOOTER - contains all elements in footer
//-----------------------------------------------------------------------------------

.footer-wrapper {
	position: relative;
	width: 100%;
	background-color: @gray-base;
	color: @white;
	font-weight: 300;
	.text-left;

	.container {
		padding-bottom: 35px;
		padding-top: 35px;
	}

	.testimonial-wrapper {
		background-color: @gray-light;

		.lead { .text-center; }

		div.col-sm-6 {
			line-height: 56px;
			padding-left: 50px;

			&:first-child {
				border-right: 1px solid @gray;
				padding-right: 50px;
				text-align: right;
			}
		}
		i { .pull-right; }
	}

	hr { border-color: lighten(@gray-base,10%); }
	h1 {
		font-size: @font-size-h4;
		line-height: 1.5;
		color: @white;
		.mbs;
	}
	.fa-ul>li { .pbs; }
	a {
		color: @gray-light;
		font-size: @font-size-base;
		&:hover { color: @white; }
	}

	body#homepage & { position: relative; height: auto !important;	}
}


// Google Map Fixes
#map-canvas {
	width: 100%;
	height: 315px;
	margin-bottom: 0;
	img { max-width: none; }
}
.google-map-canvas,
.google-map-canvas * { .box-sizing(content-box); }


// // back to top
#toTop {
	.btn-primary;
	position: fixed; // this is the magic
	right: 21px;
	bottom: 21px; // together with this to put the div at the bottom*/
	z-index:  9999;
	display: none;
	text-align: center;
	cursor: pointer;
}


//-----------------------------------------------------------------------------------
//  COMPONENTS - contains styles or updates to styles for components
//-----------------------------------------------------------------------------------

	.box,
	.box-icon,
	.sbox,
	.vbox {
		.container-effect( @ce-bg-color: @white, @ce-text-align: center, @ce-icon-size: 28px, @ce-icon-color: @beige );
		position: relative;
		margin-bottom: 42px;
		padding: 0;
		line-height: 1.5;
		.box-shadow(0 1px 1px 0 rgba(0,0,0,.2)); // drop shadow

		>span {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 10;
			height: 40px;
			background-color: @gray-light;
			color: @white;
			vertical-align: middle;
			padding: 0 21px;
			font-size: 18px;
			font-family: @font-family-sans-serif;
			font-weight: 400;
			line-height: 40px;
		}
		figure {
			.box-shadow(~"inset 0 1px 4px rgba(0,0,0,.2)"); // inner shadow
			.mbl;
			color: @beige;
		}

		h1, p { .phe; }
		p { padding: 0 21px 21px 21px; }
		header h1 {
			.mbs;
			font-size: @font-size-large;
		}
		img { border: none; }
	}

	.box span.cat-links {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		color: @gray-base;
		display: block;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 7px;
		margin: 14px 21px;
	}

	.sbox,
	.vbox {

		figure { margin: 0; }

		h1 {
			position: absolute;
			bottom: 0;
			padding: 14px;
			width: 100%;
			// background: rgba(255,255,255,0.85);
			color: @white;
			font-weight: 400;
			font-size: 18px;
		}
	}

	// start: box-icon
	.box-icon {
		figure {
			margin: 28px auto;
			width: 100%;
			border-color: @gray-lighter;
			.box-shadow(none);
		}
	}
	// end: box-icon


	// start: gallery

	.galleryItem{
	  position: relative;
	  width: 20%;
	  float: left;
	  margin-top: -1px;

	  img{
	    width: 101%;
	    max-width: 101%;
	  }

	  &:hover .area-hover {
	  	left: 0;
	    .opacity(1);

	    .cat-links{
	      top: 0;
	      letter-spacing: .05em;
	      .opacity(1);
	    }
	    .entry-title{
	      top: 0;
	      .opacity(1);
	    }
	  }
	}

	#galleryContainer.withSpaces{
	  margin-left: -30px;

	  .galleryItem{
	    width: 33.33%;
	    padding-left: 30px;
	    padding-bottom: 25px;
	  }
	}

	#galleryContainer.withSpaces.col-3{
	  .portfolio-item .cat-links a{
	    font-size: 13px;
	    line-height: 14px;
	  }
	}

	#galleryContainer.withSpaces.col-4 .galleryItem{
	  width: 25%;
	}

	#galleryContainer.col-4 .galleryItem{
	  width: 25%;
	}
	#galleryContainer.col-3 .galleryItem{
	  width: 33.33%;
	}

	.area-hover{
	  .transition(opacity .4s ease);
	  .opacity(0);
	  left: 0;
	  padding: 20px;
	  position: absolute;
	  width: 101%;
	  height: 100%;
	  background: @gray-dark;

	  .cat-links{
	    .transition(all .4s ease);
	    color: #fff;
	    color: rgba(255, 255, 255, .4);
	    letter-spacing: 0.1em;
	    text-transform: uppercase;
	    font-size: 11px;
	    line-height: 12px;
	    .opacity(0);
	    position: relative;
	    top: -40px;
	  }
	  .entry-title{
	    .transition(all .4s ease);
	    margin: 6px 0 3px 0;
	    font-weight: 400;
	    .opacity(0);
	    position: relative;
	    top: -40px;
	  }

	  *{
	    color: #fff;
	  }
	}


	.content-area.vertical-parent{
	  position: absolute;
	  padding: 0;
	}
	.vertical-parent{
	  display: table;
	  width: 100%;
	  height: 100%;
	}
	.vertical-child{
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	}
	// end: gallery



//-----------------------------------------------------------------------------------
//  PLUGIN MODS - contains styles or updates to styles for plugins
//-----------------------------------------------------------------------------------

@import url("modules/flexslider.less"); // include flexslider css

//-----------------------------------------------------------------------------------
//  RESPONSIVE & PRINT INCLUDES
//  Set at end, since everything above is set for any device.
//  Modifications are made at each size, if applicable.
//-----------------------------------------------------------------------------------
@import url("modules/theme-rwd-xs.less"); // include responsive styles for anything under 480px and 767px
@import url("modules/theme-rwd-sm.less"); // include responsive styles for anything between 767px and 991px
@import url("modules/theme-rwd-md.less"); // include responsive styles for anything between 992px and 1199px
@import url("modules/theme-rwd-lg.less"); // include responsive styles for anything between 1200px and up
@import url("modules/print.less"); // include print styles
