<cfoutput>
  <#arguments.templateWrapper#>
    <a href="#minislider.getImageURl(size='large')#" title="#htmlEditFormat(minislider.getTitle())# <cfif len(minislider.getSummary())>- #htmlEditFormat(minislider.getSummary())#</cfif>" class="fancybox" rel="gallery">
      <img src="#minislider.getImageURl(size='small')#" />
    </a>
  </#arguments.templateWrapper#>
</cfoutput>